<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>
  <meta charset="UTF-8">
  <title>
    {{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} | {{ .Site.Title }}{{ end }}
  </title>
  <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1,initial-scale=1">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="shortcut icon" type="image/x-icon" href="{{ "/img/favicon.ico" | relURL }}"/>
  <link rel="stylesheet" type="text/css" href="https://code.getmdl.io/1.2.1/material.blue-amber.min.css" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ "/css/custom.css" | relURL }}" />
  <link href="{{ .Site.BaseURL }}index.xml" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
  <script src="{{ "/js/jquery-3.1.1.min.js" | relURL }}"></script>
  <script defer src="{{ "/js/contact.js" | relURL }}"></script>
  <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
{{ partial "header.html" . }}
{{ partial "nav.html" . }}
  <main class="mdl-layout__content mdl-color-text--grey-600">
    <div class="mdl-grid">
{{ block "main" . }}{{ end }}
{{ partial "contact.html" . }}
{{ partial "snack.html" . }}
{{ partial "social.html" . }}
    </div>
  </main>
</div>
</body>
</html>
