{{ define "main" }}
{{ range .Pages }}
{{ if in (slice "promotion" "story") .Section }}
<div class="mdl-card mdl-shadow--3dp content-card">
  <div class="mdl-card__title">
    <h3>{{ .Title }} {{ if .Draft }} :: DRAFT{{end}}</h3>
    <hr>
  </div>
  <div class="mdl-card__supporting-text no-active">
    <p>{{ .Summary }}</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button read-more mdl-js-button mdl-js-ripple-effect" href="{{ .Permalink }}">Read More <i class="fa fa-chevron-right"></i></a>
  </div>
</div>
{{ end }}
{{ if eq .Section "job"}}
<div class="mdl-card mdl-shadow--3dp content-card img-card">
  <div class="mdl-card__title" style="background: url('{{ .Params.mainimg.url }}') center / cover;">
  </div>
  <div class="mdl-card__supporting-text no-active">
    <h2 class="mdl-card__title-text title">{{ .Title }} {{ if .Draft }} :: DRAFT{{end}}</h2>
    <h5 class="mdl-card__title-text subtitle">{{ .Params.mainimg.text }}</h5>
    <p>{{ .Summary }}</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button read-more mdl-js-button mdl-js-ripple-effect" href="{{ .Permalink }}">Job Details <i class="fa fa-chevron-right"></i></a>
  </div>
</div>
{{ end }}
{{ end }}
{{ partial "paginate.html" . }}
{{ end }}
