{{ define "main" }}
{{ range .Pages }}
{{ if isset .Params "mainimg" }}
<div class="mdl-card mdl-shadow--3dp content-card img-card">
  <div class="mdl-card__title" style="background: url('{{ .Params.mainimg.url }}') center / cover;">
  </div>
  <div class="mdl-card__supporting-text no-active">
    <h2 class="mdl-card__title-text title">{{ .Title }} {{ if .Draft }} :: DRAFT{{end}}</h2>
    {{ if isset .Params.mainImg "text" }}<h5 class="mdl-card__title-text subtitle">{{ .Params.mainimg.text }}</h5>{{ end }}
  {{ if .Truncated }}
    <p>{{ .Summary }}</p>
  {{ else }}
    {{ .Content }}
  {{ end }}
  </div>
  {{ if .Truncated }}
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button read-more mdl-js-button mdl-js-ripple-effect" href="{{ .RelPermalink }}">More <i class="fa fa-chevron-right"></i></a>
  </div>
  {{ end }}
</div>
{{ else }}
<div class="mdl-card mdl-shadow--3dp content-card">
  <div class="mdl-card__title">
    <h3>{{ .Title }} {{ if .Draft }} :: DRAFT{{end}}</h3>
    <hr>
  </div>
  <div class="mdl-card__supporting-text no-active">
  {{ if .Truncated }}
    <p>{{ .Summary }}</p>
  {{ else }}
    {{ .Content }}
  {{ end }}
  </div>
  {{ if .Truncated }}
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button read-more mdl-js-button mdl-js-ripple-effect" href="{{ .RelPermalink }}">More <i class="fa fa-chevron-right"></i></a>
  </div>
  {{ end }}
</div>
{{ end }}
{{ end }}
{{ partial "paginate.html" . }}
{{ end }}
