{{ define "main" }}
{{ if in (slice "job" "meta" "promotion" "story") .Section }}
{{ if isset .Params "mainimg" }}
<div class="mdl-card mdl-shadow--3dp content-card img-card">
  <div class="mdl-card__title" style="background: url('{{ .Params.mainimg.url }}') center / cover;">
  </div>
  <div class="mdl-card__supporting-text no-active">
    <h2 class="mdl-card__title-text title">{{ .Title }} {{ if .Draft }} :: DRAFT{{end}}</h2>
    {{ if isset .Params.mainImg "text" }}<h5 class="mdl-card__title-text subtitle">{{ .Params.mainimg.text }}</h5>{{ end }}
    {{ .Content }}
  </div>
</div>
{{ else }}
<div class="mdl-card mdl-shadow--3dp content-card">
  <div class="mdl-card__title">
    <h3>{{ .Title }} {{ if .Draft }} :: DRAFT{{end}}</h3>
    <hr>
  </div>
  <div class="mdl-card__supporting-text no-active">
    {{ .Content }}
  </div>
</div>
{{ end }}
{{ end }}
{{ end }}
