{{ define "main" }}
{{ $rating := .Params.rating }}
<div class="mdl-card mdl-shadow--3dp content-card rating">
  <div class="mdl-card__supporting-text no-active">
    <h2 class="mdl-card__title-text title">{{ .Title }} {{ if .Draft }} :: DRAFT{{end}}</h2>
    {{ range seq 5 }}
    <span class="rating fa fa-2x fa-star{{ if ge . (add (int $rating) 1) }}-o{{ end }}"></span>
    {{ end }}
    <hr>
    {{ .Content }}
    {{ if isset .Params "response" }}
    <h6>Response:</h6>
    <p>{{ .Params.response.text }}</p>
    {{ end }}
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button read-more mdl-js-button mdl-js-ripple-effect" href="{{ .Params.reviewURL }}">Source <i class="fa fa-chevron-right"></i></a>
  </div>
</div>
{{ end }}
