<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>
  <meta charset="UTF-8">
  <title>
    {{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} | {{ .Site.Title }}{{ end }}
  </title>
  <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1,initial-scale=1">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="shortcut icon" type="image/x-icon" href="{{ "/img/favicon.ico" | relURL }}"/>
  <link rel="stylesheet" type="text/css" href="https://code.getmdl.io/1.2.1/material.blue-amber.min.css" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ "/css/custom.css" | relURL }}" />
  <link href="{{ .Site.BaseURL }}index.xml" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
  <script src="{{ "/js/jquery-3.1.1.min.js" | relURL }}"></script>
  <script defer src="{{ "/js/contact.js" | relURL }}"></script>
  <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header artisan-header">
    <div class="mdl-layout__header-row artisan-header-logo-row-large mdl-layout--large-screen-only">
      <span class="mdl-layout-title">
        <a href="{{ "/" | relURL }}"><img class="artisan-header-logo-large" src="{{ "img/artisan_logo.png" | relURL }}" alt="{{ .Title }} logo"></a>
      </span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ "/about" | relURL }}">About</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ "/contact" | relURL }}">Contact</a>
        <!-- <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ "/Jobs" | relURL }}">Jobs</a> -->
      </nav>
    </div>
    <div class="mdl-layout__header-row artisan-header-logo-row-small mdl-layout--small-screen-only">
      <span class="mdl-layout-title">
        <img class="artisan-header-logo-small" src="{{ "img/artisan_logo.png" | relURL }}" alt="{{ .Title }} logo">
      </span>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <div class="mdl-layout-title">
      <a href="{{ "/" | relURL }}"><img class="artisan-drawer-logo" src="/img/artisan_logo_57x57.png"></img></a>
    </div>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="{{ "/" | relURL }}">Home</a>
      <a class="mdl-navigation__link" href="{{ "/about" | relURL }}">About</a>
      <a class="mdl-navigation__link" href="{{ "/contact" | relURL }}">Contact</a>
      <!-- <a class="mdl-navigation__link" href="{{ "/jobs" | relURL }}">Jobs</a> -->
    </nav>
  </div>
  <main class="mdl-layout__content mdl-color-text--grey-600">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
