.mdl-layout__header.artisan-header {
    background-color: #fff;
}

.artisan-header-logo-row-large {
    height: auto;
}

.artisan-header-logo-row-large > nav > .mdl-navigation__link {
    color: rgba(0,0,0,.54);
    font-size: 16px;
    font-weight: 700;
    height: 104px;
    line-height: 116px;
    border-bottom: 4px solid #fff;
}

.artisan-header-logo-row-large > nav > .mdl-navigation__link:hover {
    border-bottom: 4px solid rgb(63,81,181);
}

.artisan-header-logo-row-small {
    height: auto;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0px 16px 0px 16px;
}

.artisan-header-logo-large {
    height: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.artisan-header-logo-small {
    height: 75px;
    margin: 10px auto;
}

.artisan-drawer-logo {
    margin: auto;
    height: 50px;
}

.mdl-layout__header > .mdl-layout__drawer-button {
    color: rgba(0,0,0,.54);
    top: 24px;
    left: 8px;
}

.mdl-layout__header > .mdl-layout__drawer-button > i {
    font-size: 36px;
}

.mdl-layout__drawer > div.mdl-layout-title {
    height: 80px;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 2px solid rgba(0,0,0,.54);
}

.mdl-layout__drawer > div.mdl-layout-title > a > img {
    display: block;
    margin: auto;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

@media only screen and (min-width: 768px) {
    .mdl-grid {
        max-width: 900px;
    }
}

.content-card {
    margin-bottom: 2em;
    width: auto;
}

.content-card > .mdl-card__title {
    color: rgba(0,0,0,.54);
    display: block;
}

.content-card > .mdl-card__actions > a.mdl-button {
    color: rgba(0,0,0,.54);
}

.job-card > .mdl-card__title {
    color: #fff;
    height: 400px;
    min-height: 80px;
}

.mdl-card__title-text.title {
    font-size: 2.2em;
    line-height: 1.4em;
    margin-bottom: 14px;
}

.mdl-card__title-text.subtitle {
    font-size: 1.4em;
    line-height: 1.4em;
    margin-bottom: 14px;
}

.mdl-textfield.full-width {
    width: 100%;
}

.mdl-mini-footer__social-btn > a > i {
    font-size: 1.6em;
}
